.number-class {
    width: 60px;
    white-space: nowrap;
    display: inline-block;
}

tr.table-header-fixed > th {
    position: sticky;
    top: 0;
    background-color: #fff;
}

.table-footer-fixed {
    margin: 1rem;
    position: fixed;

    bottom: 0;
    /*background-color: #fff;*/
}